/* Contact page */
.contact-form {
  padding:200px 10% 50px;
  background-color: #0f0c27;
  color: white;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.form input, textarea {
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #150b3a;
  text-decoration: none;
  border: 0;
  
}

.form input, textarea {
  padding: 10px;
  color: white;
}

.contact-me-heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.submit {
  margin-top: 40px;
  width: 20%;
  background-color: #033a80;
  color: white;
  padding: 10px 15px;
  margin: 0px auto;
  cursor: pointer;
  border: none;
}

