/* home page */
p {
    margin: 10px;
}

.home{
    background-color: #0f0c27;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:15% 10% 0;
    height: 100vh;
}

.text-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10%;
    width: 30%;
}

.social {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10%;
    margin-right: 5%;
}

.social a i {
    font-size: 1.5rem;
    color: white;
    margin-top: 1rem;
}

.home-text {
    color: white;
    margin-top: 10%;
    margin-right: 20%;
}

.heading-name {
    font-size: 2.5rem;
}

.para-home {
    margin: 20px 0px;
    font-size: 1.2rem;
}

.home-img img {
    height: 70%;
    width: 100%;
    border-radius: 20px;
    margin-top: 10%;
}

/* homepage-about me part */
.aboutme {
    text-align: center;
    background-color: #0f0c27;
    color: white;
    padding: 0 10%;
    height: auto;
    padding-bottom: 10%;
}

.aboutme-section {
    display: flex;
    margin-top: 2%;
    text-align: left;
}

.my-img {
    border-radius: 20px;
}

.img-section {
    margin-left: 5%;
    height: 100%;
    width: 100%;
}

.img-section img {
    height: 100%;
    width: 100%;
}

.aboutme-text {
    width: 60%;
    margin-left: 10%;
}

.info-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 2%;
}

.aboutme-heading {
    font-size: 2.5rem;
}

.education-detail {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}


@media only screen and (max-width: 800px){
    .home{
        flex-direction: column;
        padding:20% 10% 0;
    }
    .text-section {
        width: 100%;
    }
    .home-img img {
        height: 80%;
    }
    .aboutme-section {
        flex-direction: column;
    }
    .aboutme-text {
        width: 100%;
        margin-left: 0;
    }
    .img-section {
        margin-left: 0;
    }
    .aboutme-heading {
        font-size: 1.5rem;
    }
    .education-detail {
        flex-direction: column;
    }
}  
